<main>
	<app-header [title]="'Listing Page'"></app-header>

	<!-- ## MISC SECTION -->
	<section class="toolbar-section">
		<button mat-button (click)="handleRefreshData()" [disabled]="isLoading">
			<mat-icon>refresh</mat-icon>Refresh
		</button>
		<button
			mat-button
			color="warn"
			(click)="handleSimulateError()"
			[disabled]="isError || isLoading"
		>
			<mat-icon>warning</mat-icon>Simulate Error
		</button>
	</section>

	<!-- ## FILTER SECTION -->
	<section class="toolbar-section toolbar-section--shaded">
		<mat-form-field appearance="outline">
			<mat-label>Search</mat-label>
			<input matInput type="text" [disabled]="isError || isLoading" />
			<button
				matSuffix
				mat-icon-button
				(click)="handleClearSearch()"
				[disabled]="isError || isLoading"
			>
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<!-- Product filter -->
		<mat-form-field appearance="outline" style="width: 300px">
			<mat-label>Products</mat-label>
			<mat-select multiple [disabled]="isError || isLoading">
				<mat-option *ngFor="let product of productList" [value]="product.id">
					{{ product.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<!-- Status filter -->
		<mat-form-field appearance="outline">
			<mat-label>Status</mat-label>
			<mat-select multiple [disabled]="isError || isLoading">
				<mat-option *ngFor="let status of statusList" [value]="status">
					{{ status }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<!-- Clear filters button -->
		<button mat-button [disabled]="isError || isLoading">Clear all filters</button>
	</section>

	<!-- ## TABLE SECTION -->
	<ng-container *ngIf="!isError; else errorMessage">
		<ng-container *ngIf="!isLoading; else loading">
			<section class="table-section">
				<table mat-table [dataSource]="data">
					<!-- ID Column -->
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef>ID</th>
						<td mat-cell *matCellDef="let element">{{ element.id }}</td>
					</ng-container>

					<!-- Date Joined Column -->
					<ng-container matColumnDef="dateJoined">
						<th mat-header-cell *matHeaderCellDef>Date Joined</th>
						<td mat-cell *matCellDef="let element">
							{{ element.dateJoined | date : "shortDate" }}
						</td>
					</ng-container>

					<!-- Company name Column -->
					<ng-container matColumnDef="companyName">
						<th mat-header-cell *matHeaderCellDef>Company Name</th>
						<td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
					</ng-container>

					<!-- Company Rep Name Column -->
					<ng-container matColumnDef="companyRepName">
						<th mat-header-cell *matHeaderCellDef>Company Rep Name</th>
						<td mat-cell *matCellDef="let element">{{ element.companyRepName }}</td>
					</ng-container>

					<!-- Products Column -->
					<ng-container matColumnDef="products">
						<th mat-header-cell *matHeaderCellDef>Products</th>
						<td mat-cell *matCellDef="let element" style="width: 300px">
							<div class="product-info">
								<div
									class="product-info__tag"
									*ngFor="let item of element.products"
								>
									{{ item.name }}
								</div>
							</div>
						</td>
					</ng-container>

					<!-- Status Column -->
					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef>Status</th>
						<td mat-cell *matCellDef="let element">
							<app-status-tag [status]="element.status"></app-status-tag>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>

				<!-- Pagination -->
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
				</mat-paginator></section></ng-container
	></ng-container>

	<ng-template #loading>Loading...</ng-template>
	<ng-template #errorMessage>
		<div class="error-message">
			<mat-icon>error</mat-icon>
			<span>Error receiving data</span>
		</div>
	</ng-template>
</main>
