<main>
	<app-header [title]="'Listing Page'"></app-header>

	<!-- ## MISC SECTION -->
	<section class="toolbar-section">
		<button mat-button (click)="handleRefreshData()" [disabled]="isLoading">
			<mat-icon>refresh</mat-icon>Refresh
		</button>
		<button
			mat-button
			color="warn"
			(click)="handleSimulateError()"
			[disabled]="isError || isLoading"
		>
			<mat-icon>warning</mat-icon>Simulate Error
		</button>
	</section>

	<!-- ## FILTER SECTION -->
	<section class="toolbar-section toolbar-section--shaded">
		<mat-form-field appearance="outline" style="width: 200px">
			<mat-label>Search</mat-label>
			<input
				matInput
				type="text"
				[disabled]="isError || isLoading"
				[(ngModel)]="filterProperties.searchValue"
				(ngModelChange)="handleSearchChange($event)"
			/>
			<button
				*ngIf="filterProperties.searchValue.length"
				matSuffix
				mat-icon-button
				(click)="handleClearSearch()"
				[disabled]="isError || isLoading"
			>
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

		<!-- Product filter -->
		<mat-form-field appearance="outline" style="width: 300px">
			<mat-label>Products</mat-label>
			<mat-select
				multiple
				[disabled]="isError || isLoading"
				[(ngModel)]="filterProperties.productList"
				(ngModelChange)="handleFilterChange($event, 'products')"
			>
				<mat-option
					*ngFor="let product of productList"
					[value]="product.id"
					[disabled]="isError || isLoading"
				>
					{{ product.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<!-- Status filter -->
		<mat-form-field appearance="outline" style="width: 200px">
			<mat-label>Status</mat-label>
			<mat-select
				multiple
				[disabled]="isError || isLoading"
				[(ngModel)]="filterProperties.statusList"
				(ngModelChange)="handleFilterChange($event, 'status')"
			>
				<mat-option
					*ngFor="let status of statusList"
					[value]="status"
					[disabled]="isError || isLoading"
				>
					{{ status }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Date joined</mat-label>
			<mat-date-range-input [rangePicker]="picker" [disabled]="isError || isLoading">
				<input
					matStartDate
					placeholder="Start date"
					[(ngModel)]="filterProperties.startDate"
					(dateChange)="handleDateFilterChange('start', $event)"
				/>
				<input
					matEndDate
					placeholder="End date"
					[(ngModel)]="filterProperties.endDate"
					(dateChange)="handleDateFilterChange('end', $event)"
				/>
			</mat-date-range-input>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>

		<!-- Clear all filters button -->
		<button
			mat-button
			[disabled]="isError || isLoading"
			*ngIf="
				filterProperties.productList.length ||
				filterProperties.statusList.length ||
				filterProperties.searchValue ||
				filterProperties.startDate ||
				filterProperties.endDate
			"
			(click)="handleClearAllFilters()"
		>
			Clear all filters
		</button>
	</section>

	<!-- ## TABLE SECTION -->
	<section class="table-section">
		<ng-container *ngIf="!isError; else errorMessage"></ng-container>
		<ng-container *ngIf="!isRefresh; else loadingMessage"></ng-container>
		<ng-container *ngIf="listingData$ | async as listingData">
			<ng-container *ngIf="listingData.data.length; else noDataMessage">
				<div class="table-wrapper" *ngIf="!isRefresh && !isError">
					<ng-container [ngTemplateOutlet]="loadingOverlay"></ng-container>
					<table mat-table [dataSource]="listingData.data">
						<!-- ID Column -->
						<ng-container matColumnDef="id">
							<th mat-header-cell *matHeaderCellDef>ID</th>
							<td mat-cell *matCellDef="let element">{{ element.id }}</td>
						</ng-container>

						<!-- Date Joined Column -->
						<ng-container matColumnDef="dateJoined">
							<th mat-header-cell *matHeaderCellDef>Date Joined</th>
							<td mat-cell *matCellDef="let element">
								{{ element.dateJoined | date : "dd MMM YYYY" }}
							</td>
						</ng-container>

						<!-- Company name Column -->
						<ng-container matColumnDef="companyName">
							<th mat-header-cell *matHeaderCellDef>Company Name</th>
							<td mat-cell *matCellDef="let element">
								{{ element.companyName }}
							</td>
						</ng-container>

						<!-- Company Rep Name Column -->
						<ng-container matColumnDef="companyRepName">
							<th mat-header-cell *matHeaderCellDef>Company Rep Name</th>
							<td mat-cell *matCellDef="let element">
								{{ element.companyRepName }}
							</td>
						</ng-container>

						<!-- Products Column -->
						<ng-container matColumnDef="products">
							<th mat-header-cell *matHeaderCellDef>Products</th>
							<td mat-cell *matCellDef="let element" style="width: 300px">
								<div class="product-col">
									<div
										class="product-col__tag"
										*ngFor="let item of element.products"
									>
										{{ item.name }}
									</div>
								</div>
							</td>
						</ng-container>

						<!-- Status Column -->
						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef>Status</th>
							<td mat-cell *matCellDef="let element">
								<app-status-tag [status]="element.status"></app-status-tag>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>

					<mat-paginator
						[disabled]="isLoading"
						[pageSizeOptions]="[5, 10, 20, 50, 100]"
						[length]="listingData.metadata.totalItems"
						[pageSize]="listingData.metadata.pageSize"
						[pageIndex]="listingData.metadata.page - 1"
						(page)="handlePageEvent($event)"
					>
					</mat-paginator>
				</div>
			</ng-container>
		</ng-container>
	</section>
</main>

<!-- ## TEMPLATES -->

<!-- No data message -->
<ng-template #noDataMessage>
	<div class="info-message" *ngIf="!isRefresh && !isLoading">
		<mat-icon>warning</mat-icon>
		<span>No data found</span>
	</div>
	<ng-container
		*ngIf="isLoading && !isRefresh"
		[ngTemplateOutlet]="loadingMessage"
	></ng-container>
</ng-template>

<!-- Error message -->
<ng-template #errorMessage>
	<div class="error-message">
		<mat-icon>error</mat-icon>
		<span>Uh oh! We are unable to retrieve your data. Please refresh.</span>
	</div>
</ng-template>

<!-- Loading message -->
<ng-template #loadingMessage>
	<div class="info-message">
		<mat-spinner diameter="16"></mat-spinner>
		<span>Loading...</span>
	</div>
</ng-template>

<!-- Loading overlay -->
<ng-template #loadingOverlay>
	<div *ngIf="isLoading" class="loading-overlay">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
