.stepper-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.stepper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	position: relative;
	height: 100%;
}
.step-line {
	position: absolute;
	background-color: lightgray;
	width: 100%;
	height: 1px;
	top: 1rem;
}
.step {
	z-index: 99;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 0 0.5rem 0 0.5rem;
}
.step-number {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	border: 2px solid lightgray;
	color: lightgray;
	margin-right: 0.5rem;
}
.step-number.active {
	color: black;
	border: 2px solid black;
}
.step-number.completed {
	color: white;
	background-color: black;
	border: 2px solid black;
}
.step-label {
	font-size: 1rem;
}
