<form [formGroup]="formGroup">
	<mat-form-field appearance="outline">
		<mat-label>Description of company</mat-label>
		<input matInput placeholder="" formControlName="description" required />
		<mat-error
			*ngIf="
				formGroup.get('description')?.invalid &&
				formGroup.get('description')?.touched
			"
			>Company description is required</mat-error
		>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Products</mat-label>
		<mat-select required formControlName="products" multiple>
			<mat-option *ngFor="let product of productList" [value]="product">
				{{ product.name }}
			</mat-option>
		</mat-select>
		<mat-error
			*ngIf="
				formGroup.get('products')?.invalid &&
				formGroup.get('products')?.touched
			"
			>At least one product is required</mat-error
		>
	</mat-form-field>
</form>
